<section>
    <div>
        <h1>Product List</h1>
    </div>
    <div>
        <a href="/scandiweb/?class=ProductController&method=addProduct">ADD</a>
        <button>MASS DELETE</button>
    </div>
</section>
<section>
    <form action="" class="product-list">
        <div class="product product-card">
            <input type="hidden" value="sku_product">
            <input type="checkbox" name="sku_product" id="">
            <span class="product-sku">SKU 12345</span>
            <h2 class="product-title">Product Name</h2>
            <span class="product-price">1.00 $</span>
            <span class="product-info">Size: 700MB</span>
        </div>
        <div class="product product-card">
            <input type="hidden" value="sku_product">
            <input type="checkbox" name="sku_product" id="">
            <span class="product-sku">SKU 12345</span>
            <h2 class="product-title">Product Name</h2>
            <span class="product-price">1.00 $</span>
            <span class="product-info">Size: 700MB</span>
        </div>
        <div class="product product-card">
            <input type="hidden" value="sku_product">
            <input type="checkbox" name="sku_product" id="">
            <span class="product-sku">SKU 12345</span>
            <h2 class="product-title">Product Name</h2>
            <span class="product-price">1.00 $</span>
            <span class="product-info">Size: 700MB</span>
        </div>
        <div class="product product-card">
            <input type="hidden" value="sku_product">
            <input type="checkbox" name="sku_product" id="">
            <span class="product-sku">SKU 12345</span>
            <h2 class="product-title">Product Name</h2>
            <span class="product-price">1.00 $</span>
            <span class="product-info">Size: 700MB</span>
        </div>
    </form>
</section>
 