<div class="feedback-error-container">
    {{feedback_error}}
</div>
<section class="hero">
    <div>
        <h1>Product Add</h1>
    </div>
    <div class="hero-actions-container">
        <button id="store-product" class="button">SAVE</button>
        <a href="/scandiweb/" class="button">CANCEL</a>
    </div>
</section>
<section>
    <form id="product_form" action="/scandiweb/storeProduct" class="product-store-form" method="POST">
       
        <fieldset>
            <label for="sku">SKU</label>
            <input type="text" id="sku" name="product_sku" required>
        </fieldset>
       
       <fieldset>
            <label for="name">Name</label>
            <input type="text" id="name" name="product_title" required>
        </fieldset>
       
        <fieldset>
            <label for="price">Price ($)</label>
            <input type="number" min="0" id="price" name="product_price" required>
        </fieldset>
       
        <fieldset>
            <label for="productType">Type Switcher</label>
            <select name="product_type" id="productType">
                <option value="DVD" selected>DVD</option>
                <option value="Book">Book</option>
                <option value="Furniture">Furniture</option>
            </select>
        </fieldset>
       
        <fieldset id="DVD" class="product-type-card type-dvd">
            <label for="size">Size (MB)</label>
            <input type="number" min="0" id="size" name="size" required>
            <p class="instructions">Please, provide the dvd size in Mega Bytes (MB)!</p>
        </fieldset>
                    
        <fieldset id="Book" class="product-type-card type-book" disabled="disabled">
            <label for="weight">Weight (KG)</label>
            <input type="number" min="0" id="weight" name="weight" required>
            <p class="instructions">Please, provide the book weight in kilograms (KG)!</p>
        </fieldset>

        <fieldset id="Furniture" class="product-type-card type-furniture" disabled="disabled">
            <div>
                <label for="height">Height (CM)</label>
                <input type="number" min="0" id="height" name="height" required>
            </div>
            <div>
                <label for="width">Width (CM)</label>
                <input type="number" min="0" id="width" name="width" required>
            </div>
            <div>
                <label for="length">Length (CM)</label>
                <input type="number" min="0" id="length" name="length" required>
            </div>
            <p class="instructions">Please, provide the the dimension Height x Width x Length!</p>
        </fieldset>
        <input id="submit-add-product" type="submit" value="save" style="visibility: hidden; position: absolute;">
    </form>
</section>
 