<section class="hero">
    <div>
        <h1>Product Add</h1>
    </div>
    <div class="hero-actions-container">
        <button id="store-product" class="button">SAVE</button>
        <a href="/scandiweb/" class="button">CANCEL</a>
    </div>
</section>
<section>
    <form id="store-product-form" action="/scandiweb/storeProduct" class="product-list" method="POST">
       
        <fieldset>
            <label for="sku">SKU</label>
            <input type="text" id="sku" name="product_sku">
        </fieldset>
       
       <fieldset>
            <label for="name">Name</label>
            <input type="text" id="name" name="product_title">
        </fieldset>
       
        <fieldset>
            <label for="price">Price ($)</label>
            <input type="number" id="price" name="product_price">
        </fieldset>
       
        <fieldset>
            <label for="productType">Type Switcher</label>
            <select name="product_type" id="productType">
                <option value="DVD" selected>DVD</option>
                <option value="Book">Book</option>
                <option value="Furniture">Furniture</option>
            </select>
        </fieldset>
       
        <fieldset id="DVD" class="product-type-card type-dvd">
            <label for="size">Size (MB)</label>
            <input type="number" id="size" name="size">
        </fieldset>
                    
        <fieldset id="Book" class="product-type-card type-book" disabled="disabled">
            <label for="weight">Weight (KG)</label>
            <input type="number" id="size" name="weight">
        </fieldset>

        <fieldset id="Furniture" class="product-type-card type-furniture" disabled="disabled">
            <div>
                <label for="height">Height (CM)</label>
                <input type="number" id="height" name="height">
            </div>
            <div>
                <label for="width">Width (CM)</label>
                <input type="number" id="width" name="width">
            </div>
            <div>
                <label for="length">Length (CM)</label>
                <input type="number" id="length" name="length">
            </div>
        </fieldset>
 
    </form>
</section>
 