*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container{
    max-width: 1920px;
    padding: 5rem;
}

.button{
    background-color: #e04f4f;
    border: 2px solid #e04f4f;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.button:hover{
    background-color: #fff;
    color: #e04f4f;
}

.product-type-card:not(.type-dvd){
    display: none;
}
