*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container{
    max-width: 1920px;
    padding: 5rem;
}

.button{
    background-color: #e04f4f;
    border: 2px solid #e04f4f;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

.button:hover{
    background-color: #fff;
    color: #e04f4f;
}

.product-type-card:not(.type-dvd){
    display: none;
}

.hero{
    border-bottom: 2px solid #333;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

footer{
    border-top: 2px solid #333;
    font-size: 24px;
    margin-top: 35px;
    padding: 1.25rem;
    text-align: center;
}

.hero > *{
    margin-bottom: 20px;
}

.product-card{
    align-items: center;
    background: #f6f6f6;
    border: 1px solid #666;
    display: flex;
    justify-content: center;
    font-size: 20px;
    min-height: 250px;
    padding: 1.20rem;
    position: relative;
    text-align: center;
}

.product-card > div{
    display: flex;
    flex-direction: column;
}

.product-card > div input[type="checkbox"]{
    position: absolute;
    top: 25px;
    left: 25px;
    transform: scale(2);
}

.product-card > div > *{
    margin-bottom: 10px;
}


@media screen and (max-width: 767px) {
    .container{
        padding: 1.25rem;
    }
    
    .hero{
        display: block;
        text-align: center;
    }

    .hero-actions-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .hero-actions-container > *{
        width: 150px;
    }

    .button{
        padding: 0.35rem 0;
    }

    .product-list{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
}
